-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice
%div{class:"well well-small", align:"center"}
  %h4 Listing developers
  = link_to 'New Developer', new_developer_path, class:"btn"

%table{class:"table table-bordered", style:"width:1000px; margin: 0 auto;"}
  %tr{class:"all-sort"}
    %th=sortable "id", "ID"
    %th=sortable "name", "Name"
    %th=sortable "manager", "Manager"
    %th=sortable "email", "Email"
    %th=sortable "personal_email", "Personal email"
    %th=sortable "created_at", "Date create"
    %th=sortable "updated_at", "Last update"
    %th Actions


  - @developers.each do |developer|
    %tr
      %td= link_to developer.id, developer
      %td= developer.name
      %td= check_path(developer.manager_name, developer.manager_id, path:"managers").html_safe
      %td= check_f(developer.email).html_safe
      %td= check_f(developer.personal_email).html_safe
      %td= set_time developer.created_at
      %td= set_time developer.updated_at
      %td
        %div{class:"btn-group"}
          =link_to "Show", developer, class:"btn"
          %button{class:"btn dropdown-toggle", :"data-toggle"=>:"dropdown"}
            %span{class:"caret"}
          %ul{class:"dropdown-menu"}
            %li= link_to 'Show', developer
            %li= link_to 'Edit', edit_developer_path(developer)
            %li= link_to 'Destroy', developer, :confirm => 'Are you sure?', :method => :delete
      

%div{class:"well well-small"}
  %div{style:'display:table; margin:0 auto;'}
    = paginate @developers
