-for dev in @developer
  %table{class:"table table-bordered", id:"show-recoreds", style:"width:1000px; margin: 0 auto;"}
    %tr
      %th ID
      %td=dev.id
    %tr
      %th Name:
      %td= dev.name
    %tr
      %th Manager:
      %td= check_path(dev.manager_name, dev.manager_id, path:"managers").html_safe
    %tr
      %th Email:
      %td= check_f dev.email
    %tr
      %th Personal email:
      %td= check_f dev.personal_email
.well.well-small{style:"width:980px; margin: 0 auto;"}  
  .btn-group.pull-right
    = link_to 'Edit', edit_developer_path(dev), class:"btn"        
    = link_to "Back", :back, class:"btn"
