%table{class:"table", id:"form_app"}
  = form_for @application do |f|
    -if @application.errors.any?
      = error_field(@application, 950)
    %div{class:"store", style:"display:none;"}
    %tr
      %td= f.label :project_id
      %td
        = f.select("project_id", Project.all.collect{|e| [e.name, e.id]},{:include_blank => 'None'})
        %p{id:"create-priject-hanle"}
    %tr
      %td{style:"width:60%;"}= f.label :product_name
      %td= f.text_field :product_name
    %tr
      %td= f.label :bundle_identifier
      %td= f.text_field :bundle_identifier
    %tr
      %td= f.label :bundle_version
      %td= f.text_field :bundle_version
    %tr
      %td= f.label :relative_path
      %td= f.text_field :relative_path
    %tr
      %td= f.label :title
      %td= f.text_field :title
    %tr
      %td{colspan:"2"}
        %div{class:"btn-group pull-right padd-right"}
          = f.submit 'Save', class:"btn"
        %div{class:"btn-group pull-left"}
          = link_to "Back", :back, class:"btn"
