%table{class:"table"}
  = form_for @application do |f|
    -if @application.errors.any?
      %div{class:"alert alert-error"}
        %a{class:"close", :"data-dismiss"=>:"alert", href:"#"}
          &times;
        %h3= "#{pluralize(@application.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @application.errors.full_messages.each do |msg|
            %li= msg
    %div{class:"store", style:"display:none;"}
    %tr
      %th= f.label :project_id
      %th
        = f.select("project_id", Project.all.collect{|e| [e.name, e.id]},{:include_blank => 'None'})
        %p{id:"create-priject-hanle"}
    %tr
      %td= f.label :product_name
      %td= f.text_field :product_name
    %tr
      %th= f.label :bundle_identifier
      %td= f.text_field :bundle_identifier
    %tr
      %td= f.label :bundle_version
      %td= f.text_field :bundle_version
    %tr
      %td= f.label :relative_path
      %td= f.text_field :relative_path
    %tr
      %td= f.label :title
      %td= f.text_field :title
    %tr
      %td{colspan:"2"}= f.submit 'Save', class:"btn"
