.modal.hide.fade#app-list
  .modal-header
    %button{class:"close", :"data-dismiss"=>:"modal"}
      ×

    .modal-body
      .index-content


= print_notice(notice)

.well.well-small{align:"center"}
  %h4 Listing applications
  = link_to 'New Application', new_application_path, class:"btn"


%table.table.table-striped.table-bordered{style:"width:1000px; margin: 0 auto;"}
  %tr.all-sort
    %th=sortable "id", "ID"
    %th=sortable "project_name", "Project"
    %th=sortable "product_name", "Product name"
    %th=sortable "bundle_identifier", "Bundle identifier"
    %th=sortable "bundle_version", "Bundle version"
    %th=sortable "relative_path", "Relative path"
    %th=sortable "title", "Title"
    %th=sortable "created_at", "Date create"
    %th=sortable "updated_at", "Last update"
    %th Actions

  - @applications.each do |application|
    %tr
      %td= link_to application.id, application
      %td= link_to application.project_name, project_path(application.project_id)
      %td= application.product_name
      %td= check_f(application.bundle_identifier)
      %td= application.bundle_version
      %td= check_f(application.relative_path)
      %td= check_f(application.title)
      %td= set_time application.created_at
      %td= set_time application.updated_at
      %td
        .btn-group
          =link_to "Show", application, class:"btn"
          %button.btn.dropdown-toggle{:"data-toggle"=>:"dropdown"}
            %span.caret
          %ul.dropdown-menu
            = link_to 'Show', application
            = link_to 'Edit', edit_application_path(application)
            = link_to 'Destroy', application, :confirm => 'Are you sure?', :method => :delete

%div{style:'display:table; margin:0 auto;'}
  %p
    = paginate @applications