- for app in @application

  %table.table.table-bordered#show-recoreds{style:"width:1000px; margin: 0 auto;"}
    %tr
      %th ID
      %td= app.id
    %tr
      %th Project:
      %td= link_to app.project_name, project_path(app.project_id)
    %tr
      %th Product name:
      %td= app.product_name
    %tr
      %th Bundle identifier:
      %td= check_f app.bundle_identifier
    %tr
      %th Bundle version:
      %td= app.bundle_version
    %tr
      %th Relative path:
      %td= check_f app.relative_path
    %tr
      %th Title:
      %td= check_f app.title

.well.well-small.well-width  
  .btn-group
    = link_to 'Edit', edit_application_path(app), class:"btn"
    = link_to 'Back', :back, class:"btn"
