.navbar
  .navbar-inner
    = link_to "Home", admin_path, class:"brand"
    %ul{class:"nav"}
      %li{id:"company-nav"}
        = link_to "Companies", companies_path
      %li{id:"clients-nav"}
        = link_to "Clients", clients_path
      %li{id:"manager-nav"}
        = link_to "Managers", managers_path
      %li{id:"developers-nav"}
        = link_to "Developers", developers_path
      %li{id:"projects-nav"}
        = link_to "Projects", projects_path

      %li= link_to "Logout", destroy_admin_session_path, :method => :delete, id:"sign_out"
    %div{class:"pull-right", style:"color:#9C9C9C; margin-top:10px; text-shadow: white 0.5px 1px 0.5px"}  
      Signed in as:
      = current_admin.email
      = link_to 'edit account', edit_admin_registration_path