= stylesheet_link_tag 'admin', media:'all'
= javascript_include_tag(:admin)
= render 'projects/modal_for_app'

%table{class:"table table-bordered", style:"width:800px; margin: 0 auto;"}
  %tr
    %th{style:"width:10px !important; background-color: rgba(204,204,204,0.7);"}
    %th=sortable 'id', 'ID'
    %th=sortable 'name', 'Project name'
    %th=sortable 'client_name', 'Client name'
    %th Handle name


  - for list in @projects
    %tr{id:"parent_#{list.id}"}
      %td
        %div{class:"icon-play get-list-applications", id:"#{list.id}"}
      %td=link_to list.id, project_path(list)
      %td=link_to list.name, project_path(list)

      %td=check_path(list.client_name, list.client_id, path:"clients").html_safe
      %td{id:"project_handle_#{list.id}"}= list.handle
      
      %td{class:"new_app_form", id:"proj_#{list.id}", style:"display:none;"}
        .notice-admin
        = form_for(@new_app, remote:true) do |f|
          %table{class:"table table-bordered"}

            .store{style:"display:none;"}
            = f.hidden_field :project_id, value:list.id
            %tr
              %td= f.label :product_name
              %td
                = f.text_field :product_name
                %div{id:"handle_id_store", style:"display:none;", class:"#{list.id}"}
            %tr
              %td= f.label :bundle_identifier
              %td= f.text_field :bundle_identifier
            %tr
              %td= f.label :bundle_version
              %td= f.text_field :bundle_version
            %tr
              %td= f.label :relative_path
              %td
                = f.text_field :relative_path, class:"input-xlarge"
                .relative-variant
                #relative_store{style:"display:none;"}
            %tr
              %td= f.label :title
              %td= f.text_field :title
            %tr
              %td{colspan:"2"}= f.submit 'Save', class:"btn", id:"save-new-app"