= javascript_include_tag(:admin)

=render 'projects/modal_for_app'


-unless @projects.empty?
  %table{class:"table table-bordered", style:"width:800px; margin: 0 auto;"}
    %tr
      %th{style:"width:10px !important; background-color: rgba(204,204,204,0.7);"}
      %th=sortable 'id', 'ID'
      %th=sortable 'name', 'Project name'
      %th=sortable 'client_name', 'Client name'
      %th Handle name
  
  
    - for list in @projects
      %tr{id:"parent_#{list.id}"}
        %td
          %div{class:"icon-play get-list-applications", id:"#{list.id}"}
        %td=link_to list.id, project_path(list)
        %td=link_to list.name, project_path(list)
  
        %td=check_path(list.client_name, list.client_id, path:"clients").html_safe
        %td{id:"project_handle_#{list.id}"}= list.handle
        
        %td{class:"new_app_form", id:"proj_#{list.id}", style:"display:none;"}
          .notice-admin
          = form_for(@new_app, remote:true) do |f|
            %table{class:"table table-bordered"}
  
              .store{style:"display:none;"}
              = f.hidden_field :project_id, value:list.id
              %tr
                %td= f.label :product_name
                %td
                  = f.text_field :product_name
                  %div{id:"handle_id_store", style:"display:none;", class:"#{list.id}"}
              %tr
                %td= f.label :bundle_identifier
                %td= f.text_field :bundle_identifier
              %tr
                %td= f.label :bundle_version
                %td= f.text_field :bundle_version
              %tr
                %td= f.label :relative_path
                %td
                  = f.text_field :relative_path, class:"input-xlarge"
                  .relative-variant
                  #relative_store{style:"display:none;"}
              %tr
                %td= f.label :title
                %td= f.text_field :title
              %tr
                %td{colspan:"2"}= f.submit 'Save', class:"btn", id:"save-new-app"
- else
  %div{style:"margin: 0 auto; display:table;"}
    %h3= "Records not found"
    %ul{class:"admin-index-action"}
      %li= link_to "[Create new [project]", new_project_path
      %li= link_to "[Manage client list]", clients_path





.form_for_index{style:"display:none;"}
  %form.edit_application{"accept-charset" => "UTF-8", :action => "/admin/remote_update/'+id+'", "data-remote" => "true", :id => "edit_application_'+id+'", :method => "post"}
    %table.table.table-bordered.table-app
      %tr
        %th Project
        %td#id.show-and-edit-app
          %select#application_project_name{:name => "application[project_id]"}
      %tr
        %th Product name
        %td#product_name.show-and-edit-app
          %input#application_product_name{:name => "application[product_name]", :size => "30", :type => "text", :value => "'+data.product_name+'"}
      %tr
        %th Bundle identifier
        %td#bundle_identifier.show-and-edit-app
          %input#application_bundle_identifier{:name => "application[bundle_identifier]", :size => "30", :type => "text", :value => "'+data.bundle_identifier+'"}
      %tr
        %th Bundle version
        %td#bundle_version.show-and-edit-app
          %input#application_bundle_version{:name => "application[bundle_version]", :size => "30", :type => "text", :value => "'+data.bundle_version+'"}
      %tr
        %th Relative path
        %td#relative_path.show-and-edit-app
          %input#application_relative_path.input-xlarge{:name => "application[relative_path]", :size => "30", :type => "text", :value => "'+data.relative_path+'"}
          .relative-variant
          #relative_store{:style => "display:none;"}
          #handle_store_edit{:style => "display:none;"}
      %tr
        %th Title
        %td#title.show-and-edit-app
          %input#application_title{:name => "application[title]", :size => "30", :type => "text", :value => "'+data.title+'"}
      %tr
        %th Action
        %td
          %input.btn{:name => "commit", :type => "submit", :value => "Save"}