%table{class:"table", style:"width:1000px; margin: 0 auto;"}
  = form_for @manager do |f|
    = error_field(@manager,970)
  
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th= f.label :personal_email
      %td= f.text_field :personal_email
    %tr
      %th= f.label :office_email
      %td= f.text_field :office_email
    %tr
      %td{colspan:"2"}
        = f.submit 'Save', class:"btn"
