-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%table{class:"table table-bordered", id:"show-recoreds", style:"width:1000px; margin: 0 auto;"}
  %tr
    %th Name:
    %td= @manager.name
  %tr
    %th Personal email:
    %td= check_f @manager.personal_email
  %tr
    %th Office email:
    %td= check_f @manager.office_email
%div{class:"well well-small well-width"}  
  .btn-group
    = link_to 'Edit', edit_manager_path(@manager), class:"btn"
    = link_to 'Back', managers_path, class:"btn"
