-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%table{class:"table table-bordered", id:"show-recoreds", style:"width:1000px; margin: 0 auto;"}
  %tr
    %th Name:
    %td= @manager.name
  %tr
    %th Personal email:
    %td= check_f @manager.personal_email
  %tr
    %th Office email:
    %td= check_f @manager.office_email
  %tr
    %th Projects
    %td
      - i = 0
      - for proj in @projects
        =link_to proj.name, project_path(proj)
        = ',' unless i+1 == @projects.size
        - i +=1
%div{class:"well well-small well-width"}  
  %div{class:"btn-group pull-right"}
    = link_to 'Edit', edit_manager_path(@manager), class:"btn"
    = link_to 'Back', managers_path, class:"btn"
