:css
  body{backgroud-color:red;}
  .add{color:green;}
  .add:hover{color:red;}
  #hh{letter-spacing:0.5px;}
%div{class:"modal hide fade", id:"new-company"}
  .modal-header
    .form-notice
    %button{class:"close", :"data-dismiss"=>:"modal"}
      ×
    %h3 Add new company.

  %div{class:"modal-body"}
    = render 'companies/form-remote'

%table{class:"table"}
  = form_for @client do |f|
    -if @client.errors.any?
      %div{class:"alert alert-error"}
        %a{class:"close", :"data-dismiss"=>:"alert", href:"#"}
          &times;
        %h3= "#{pluralize(@client.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @client.errors.full_messages.each do |msg|
            %li= msg
    
    %tr
      %td
        Select company
      %td  
        = f.select("company_id", Company.all.collect {|p| [ p.name, p.id ] },  {:include_blank => 'None'})
        &nbsp;
        = link_to "Add new company", '#', id:"get-new-company"
    %tr
      %td
        = f.label :name
      %td
        = f.text_field :name, onkeydown:"this.value.toLowerCase().replace(' ','.');"
    %tr
      %td
        = f.label :email
      %td
        = f.text_field :email
    %tr
      %td 
        = f.label :handle
      %td
        = f.text_field :handle
        .handle-variant

    %tr
      %td{colspan:"2"}
        = f.submit 'Save', class:"btn"
