- if notice
  #notice{style:"position:relative; top:-20px;"}=notice
  
%h1 Listing clients

%table{class:"table table-striped"}
  %tr
    %th ID
    %th Company id
    %th Company Name
    %th Name
    %th Email
    %th Handle
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.company_id
      %td= check_company(client.company_name).html_safe
      %td= client.name
      %td= client.email
      %td= client.handle
      %td= link_to 'Show', client, class:"btn btn-small btn-info"
      %td= link_to 'Edit', edit_client_path(client), class:"btn btn-success btn-small"
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete, class:" btn btn-danger btn-small"

%br

= link_to 'New Client', new_client_path, class:"btn btn-inverse btn-small"
