%h1 Listing clients

%table
  %tr
    %th ID
    %th Company id
    %th Company Name
    %th Name
    %th Email
    %th Handle
    %th
    %th
    %th

  - @clients.each do |client|
    %tr
      %td= client.id
      %td= client.company_id
      %td= client.company_name
      %td= client.name
      %td= client.email
      %td= client.handle
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Client', new_client_path
