%table{class:"table table-bordered", id:"show-recoreds", style:"width:1000px; margin: 0 auto;"}
  - for client in @client
    %tr
      %th
        ID
      %td
        = client.id
    %tr
      %th
        Company name:
      %td
        = link_to check_path(client.company_name, client.company_id, path:"companies").html_safe
    %tr
      %th
        Name:
      %td
        = client.name
    %tr
      %th
        Email:
      %td
        = client.email
    %tr
      %th
        Handle:
      %td
        = client.handle
.well.well-small.well-width
  .btn-group.pull-right
    = link_to 'Edit', edit_client_path(client), class:"btn"
    = link_to "Back", :back, class:"btn"