:css
  .dropdown-menu{position:absolute; margin: 0 auto; width:220px;}
  .icon-chevron-down:hover{cursor:pointer;}

%table{class:"table", style:"width:1000px; margin: 0 auto;"}
  = form_for @project do |f|
    = error_field(@project, 970)

    %tr
      %th{style:"width:60%;"}
        = f.label :client_id
      %td
        %div{class:"select_client", style:"display:none;"}
          = f.select("client_id", Client.all.collect {|p| [ p.name, p.id ] },  {:include_blank => 'None'})
        %div{class:"client_list", style:"display:none;"}
          -for cl in Client.all
            %li{id:"#{cl.id}"}
              %a{href:"#", class:"client_name_class"}
                = cl.name
        .input-prepend
          = text_field_tag('autocomplete-client', nil, class:"clients", :"data-provide"=>:"typeahead", autocomplete:"off")
          .add-on
            .dropdown
              %i{class:"icon-chevron-down dropdown-toggle", :"data-toggle"=>:"dropdown"}
              %ul{class:"dropdown-menu", role:"menu", style:"margin-left:-230px; margin-top:5px;"}
                %li{id:"append-clients"}

    %tr
      %th= f.label :manager_id
      %td= f.select("manager_id", Manager.all.collect {|p| [ p.name, p.id ] },  {:include_blank => 'Please, select manager'})
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th=f.label "Developers"
      
      %td
        %div{style:"display:none", class:"dev_point"}   
          - for dev in Developer.all
            = check_box_tag "project[developer_ids][]", dev.id, @project.developers.include?(dev)
        .select_box_developers
        - unless params[:id].blank?
          - res = []
          - project = Project.find(params[:id])
          - project.developers.each do |p|
            
            - res << p.id
          
          - res = res.to_json
          :javascript
            $(function(){
              function _delay(){
              setTimeout(function() {
                var developer = #{res};
                for(var i = 0; i<developer.length; i++)
                {
                  $('#check_'+developer[i]).attr('checked', true); 
                }
              }, 400);
              }
              _delay();
              $('#project_manager_id option').click(function(){
               if($(this).val()  == '')
               {return false;}
              _delay();
              });
            });
    %tr
      %th= f.label :handle
      %td
        = f.text_field :handle, class:"input-xlarge"
        %div{id:"client-handle", style:"display:none;"}
        %div{class:"proj-h-variants"}
          
    %tr
      %td{colspan:"2"}
        %div{class:"btn-group pull-right"}
          = f.submit 'Save', class:"btn"
        %div{class:"btn-group pull-left"}
          = link_to "Back", :back, class:"btn"

