%table{class:"table", style:"width:1000px; margin: 0 auto;"}
  = form_for @project do |f|
    -if @project.errors.any?
      %div{class:"alert alert-error", style:"width:970px; margin: 0 auto;"}
        %a{class:"close", :"data-dismiss"=>:"alert", href:"#"}
          &times;
        %h3= "#{pluralize(@project.errors.count, "error")} prohibited this post from being saved:"
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg
  
    %tr
      %th= f.label :client_id
      %td= f.select("client_id", Client.all.collect {|p| [ p.name, p.id ] },  {:include_blank => 'None'})
    %tr
      %th= f.label :manager_id
      %td= f.select("manager_id", Manager.all.collect {|p| [ p.name, p.id ] },  {:include_blank => 'None'})
    %tr
      %th= f.label :name
      %td= f.text_field :name
    %tr
      %th=f.label "Developers"
      
      %td
        =link_to('show developers','#',id:"show-dev")
        .select-dev-list
        %div{class:"modal hide fade", id:"dev-list"}
          .modal-header
            %button{class:"close", :"data-dismiss"=>:"modal"}
              ×
            %h3 Select developers.
            %hr
            %input{type:"text", class:"searchFilter", onblur:"if(this.value == '')this.value='Searching developers..'", onfocus:"this.value==this.defaultValue?this.value='':null", value:"Searching developers..", name:"keyword"}
            .pull-right
              %div{class:"btn close", :"data-dismiss"=>:"modal", id:"add-dev-btn"}
                Change


            .dev-notice
            .dev-reload-notice
            %input{type:"text", id:"dev-input"}
            =link_to "Add", '#', id:'dev-link-remote'




          %div{class:"modal-body"}
            .searchable
              - for dev in Developer.all
                %p
                  = check_box_tag "project[developer_ids][]", dev.id, @project.developers.include?(dev)
                  %span=dev.name
    %tr
      %th= f.label :svn
      %td= f.text_field :svn
    %tr
      %th= f.label :handle
      %td
        = f.text_field :handle
        %div{class:"proj-h-variants"}
          
    %tr
      %td{colspan:"2"}= f.submit 'Save', class:"btn"
