:css
  .dropdown-menu{position:absolute; margin: 0 auto; width:220px;}
  .icon-chevron-down:hover{cursor:pointer;}

%table.table{style:"width:1000px; margin: 0 auto;"}
  = form_for @project do |f|
    = error_field(@project, 970)

    %tr
      %th{style:"width:60%;"}
        = f.label :client_id
      %td
        .select_clien{style:"display:none;"}
          = f.select("client_id", Client.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'})
        .client_list{style:"display:none;"}
          -for cl in Client.all
            %li{id:"#{cl.id}"}
              %a.client_name_class{href:"#"}= cl.name
        .input-prepend
          = text_field_tag('autocomplete-client', nil, class:"clients input-xlarge", :"data-provide"=>:"typeahead", autocomplete:"off")
          .add-on
            .dropdown
              %i.icon-chevron-down.dropdown-toggle{:"data-toggle"=>:"dropdown"}
              %ul.dropdown-menu{role:"menu", style:"width:310px; margin-left:-289px; margin-top:5px;"}
                %l#append-clients

        .add_client_from_typehead
          .icon-plus.pull-right.add_client_from_project


    %tr
      %th= f.label :manager_id
      %td= f.select("manager_id", Manager.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'Please, select manager'}, style:"width:284px;")
    %tr
      %th= f.label :name
      %td= f.text_field :name, class:"input-xlarge"
    %tr
      %th=f.label "Developers"
      
      %td
        .dev_point{style:"display:none"}
          - for dev in Developer.all
            = check_box_tag "project[developer_ids][]", dev.id, @project.developers.include?(dev)
        .select_box_developers
        - unless params[:id].blank?
          - res = []
          - project = Project.find(params[:id])
          - project.developers.each do |p|
            
            - res << p.id
          
          - res = res.to_json
          :javascript
            $(function(){
              function _delay(){

              setTimeout(function() {
                var developer = #{res};
                for(var i = 0; i<developer.length; i++)
                {
                  $('#check_'+developer[i]).attr('checked', true);
                }
              }, 450);
              }
              _delay();
              $('#project_manager_id option').click(function(){
               if($(this).val() == '')
               {return false;}
              _delay();
              });
            });
    %tr
      %th= f.label :handle
      %td
        = f.text_field :handle, class:"input-xlarge"
        #store_handle_without_client{style:"display:none"}
        #client-handle{style:"display:none;"}
        .proj-h-variants
          
    %tr
      %td{colspan:"2"}
        .btn-group.pull-right
          = f.submit 'Save', class:"btn"
        .btn-group.pull-left
          = link_to "Back", :back, class:"btn"