= render 'modal_for_app'
=print_notice(notice)
-unless @projects.empty?
  .well.well-small{align:"center", style:"width:980px; margin: 0 auto;"}
    %h4 Listing projects
    = link_to 'New Project', new_project_path, class:"btn"
  
  %table.table.table-striped.table-bordered{style:"width:1000px; margin: 0 auto;"}
    %tr
      %th{style:"width:10px !important; background-color: rgba(204,204,204,0.7);"}
      %th=sortable "id", "ID"
      %th=sortable "client", "Client"
      %th=sortable "manager", "Manager"
      %th=sortable "name", "Name"
      %th=sortable "handle", "Handle"
  
      %th Actions
  
  
    - @projects.each do |project|
      %tr{id:"parent_#{project.id}"}
        %td
          .icon-play.get-list-applications{id:"#{project.id}"}
        %td= link_to(project.id, project)
        %td= check_path(project.client_name, project.client_id, path:"clients").html_safe
        %td= check_path(project.manager_name, project.manager_id, path:"managers").html_safe
        %td= project.name
        %td{id:"project_handle_#{project.id}"}= check_f(project.handle)
        %td.new_app_form{id:"proj_#{project.id}", style:"display:none;"}
          .notice-admin
          = form_for(@new_app, remote:true) do |f|
            %table.table.table-bordered
              -if @new_app.errors.any?
                .alert.alert-error
                  %a.close{:"data-dismiss"=>:"alert", href:"#"}
                    &times;
                  %h3= "#{pluralize(@new_app.errors.count, "error")} prohibited this post from being saved:"
                  %ul
                    - @new_app.errors.full_messages.each do |msg|
                      %li= msg
              .store{style:"display:none;"}
              = f.hidden_field :project_id, value:project.id
              %tr
                %td= f.label :product_name
                %td
                  = f.text_field :product_name
                  #handle_id_store{style:"display:none;", class:"#{project.id}"}  
              %tr
                %td= f.label :bundle_identifier
                %td= f.text_field :bundle_identifier
              %tr
                %td= f.label :bundle_version
                %td= f.text_field :bundle_version
              %tr
                %td= f.label :relative_path
                %td
                  = f.text_field :relative_path, class:"input-xlarge" 
                  .relative-variant
                  #relative_store{style:"display:none;"}
              %tr
                %td= f.label :title
                %td= f.text_field :title
              %tr
                %td{colspan:"2"}= f.submit 'Save', class:"btn", id:"save-new-app"
  
        %td
          .btn-group
            =link_to "Show", project, class:"btn"
            %button.btn.dropdown-toggle{:"data-toggle"=>:"dropdown"}
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Show', project
              %li= link_to 'Edit', edit_project_path(project)
              %li= link_to 'Destroy', project, :confirm => 'Are you sure?', id:"#{project.id}", class:"delete_project", remote:true, method: :delete
  
  %div{style:'display:table; margin:0 auto;'}
    %p 
      = paginate @projects
- else
  %div{style:"margin: 0 auto; display:table;"}
    %h3= "Records not found"
    %p= link_to 'New Project', new_project_path, style:"margin-left:60px;", class:"btn"





%table
  %thead.hidden-views-applications{style:"display:none"}
    %tr.tr_waiting_id
      %td{colspan:"7"}
        %table.table_no_border-left.current-table{width:"100%"}
    
          %tr.tr_waiting_id
            %th Application name
            %th ID
            %th Title
            %th Bundle version
            %th Bundle identifier
            %th Relative path
            %th Actions  
          
  
        %table.table_no_border-left{width:"100%"}
          %tr
            %td{colspan:"7", style:"background-color: rgba(204,204,204, 0.3);"}
              %a.icon-plus.pull-right.add_new{id:"add_id",style:"margin-right:5px;"}


.edit_form{style:"display:none;"}
  %form.edit_application{"accept-charset" => "UTF-8", "data-remote" => "true", :method => "post"}
    %table.table.table-bordered.table-app
      %tr
        %th Project
        %td#id.show-and-edit-app
          %select#application_project_name{:name => "application[project_id]"}
      %tr
        %th Product name
        %td#product_name.show-and-edit-app
          %input#application_product_name{:name => "application[product_name]", :size => "30", :type => "text"}
      %tr
        %th Bundle identifier
        %td#bundle_identifier.show-and-edit-app
          %input#application_bundle_identifier{:name => "application[bundle_identifier]", :size => "30", :type => "text"}
      %tr
        %th Bundle version
        %td#bundle_version.show-and-edit-app
          %input#application_bundle_version{:name => "application[bundle_version]", :size => "30", :type => "text"}
      %tr
        %th Relative path
        %td#relative_path.show-and-edit-app
          %input#application_relative_path.input-xlarge{:name => "application[relative_path]", :size => "30", :type => "text"}
          .relative-variant
          #handle_store_edit{:style => "display:none;"}
      %tr
        %th Title
        %td#title.show-and-edit-app
          %input#application_title{:name => "application[title]", :size => "30", :type => "text"}
      %tr
        %th Action
        %td
          %input.btn{:name => "commit", :type => "submit", :value => "Save"}