-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%h1 Listing projects

%table{class:"table table-striped"}
  %tr
    %th Client
    %th Manager
    %th Name
    %th Svn
    %th Handle
    %th
      %i{class:"icon-file"}
    %th
      %i{class:"icon-wrench"}
    %th
      %i{class:"icon-trash"}

  - @projects.each do |project|
    %tr
      %td= project.client_id
      %td= project.manager_id
      %td= project.name
      %td= project.svn
      %td= project.handle
      %td{style:"width:100px;"}= link_to 'Show', project, class:"btn btn-small btn-info"
      %td{style:"width:100px;"}= link_to 'Edit', edit_project_path(project), class:"btn btn-success btn-small"
      %td{style:"width:100px;"}= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, class:" btn btn-danger btn-small"

%br

= link_to 'New Project', new_project_path, class:"btn btn-inverse"
