= render 'modal_for_app'

- for proj in @project 
  %table{class:"table table-bordered", id:"show-recoreds", style:"width:1000px; margin: 0 auto;"}
    %tr
      %th ID
      %td= proj.id
    %tr
      %th Client:
      %td{id:"proj-client-h"}= check_path(proj.client_name, proj.client_id, path:"clients").html_safe
    %tr
      %th Manager:
      %td= check_path(proj.manager_name, proj.manager_id, path:"managers").html_safe
    %tr
      %th Name:
      %td{id:"proj-name"}= proj.name
    %tr
      %th Handle:
      %td
        %div{id:"handle_store_content"}
          = check_f proj.handle
        %div{id:"project_handle_store", style:"display:none;"} 
    %tr
      %th Developers
      %td
        - if @developers.size.eql? 0
          = "Empty."
        - i = 0
        - for dev in @developers
          =link_to dev.name, developer_path(dev)
          = ',' unless i+1 == @developers.size
          - i +=1
    %tr
      %td{colspan:"2"}
        %table{width:"100%", class:"table_no_border-left"}           
          %tr
            %th{style:"width:20%"} Application name
            %th{style:"width:5%"} ID
            %th{style:"width:20%"} Title
            %th{style:"width:5%"} Bundle version
            %th{style:"width:15%"} Bundle identifier
            %th
              Relative path
              %div{id:"relative_store", style:"display:none;"}
            %th{style:"width:40px"} Actions
        .append-applications
          - unless @application.empty?
            -if @application.size > 0
              - for app in @application
                %table{class:"table-bordered", style:"width:100%;"}
                  %tr
                    %td{id:"app-name-td_#{app.id}", width:"20%"}
                      %a{id:"#{app.id}", class:"prev-app"}
                        = app.product_name                  
                    %td{width:"5%"}
                      = app.id
                    %td{width:"20%"}
                      = app.title                              
                    %td{width:"5%"}
                      = app.bundle_version                 
                    %td{width:"15%"}
                      = app.bundle_identifier
                    %td
                      =app.relative_path                
                    %td{width:"40"}
                      %div{class:"app-panel pull-right"}
                        %a{id:"#{app.id}", class:"icon-pencil edit-link", href:"#", style:"color:black;"}

                        %a{rel:"nofollow", style:"color:black;", class:"icon-trash", :"data-method"=>:"delete", :"data-remote"=>:"true", :"data-confirm"=>:"Are you sure?", id:"tr_delete_", href:"/admin/applications/#{app.id}?proj=#{app.project_id}"}

                        %a{class:"icon-retweet", style:"color:black;", href:"/admin/applications?meth=clone&id=#{app.id}", id:"duplicate", :"data-remote"=>:"true", title:"Make duplicate", :"data-confirm"=>"Are you sure?"}
            - else
              = "Doesn't have any application"
          - else
            Empty
        %hr
        %table{width:"100%", class:"table_no_border-left show-btn"}
          %tr
            %td{colspan:"5", style:"background-color: rgba(204,204,204, 0.3);"}
              %a{class:"icon-plus pull-right add_new", id:"#{proj.id}", style:"margin-right:5px;"}

    %tr{id:'new-application'}
      %td{colspan:'2'}
        .notice-project
        %div{class:"well well-small", style:"width:30px;", id:"hide_btn"}
          %div{class:"icon-chevron-up", style:"margin-left:7px;"}
          Hide


        = form_for(@new_app, remote:true) do |f|
          %table{class:"table table-bordered"}
            -if @new_app.errors.any?
              %div{class:"alert alert-error"}
                %a{class:"close", :"data-dismiss"=>:"alert", href:"#"}
                  &times;
                %h3= "#{pluralize(@new_app.errors.count, "error")} prohibited this post from being saved:"
                %ul
                  - @new_app.errors.full_messages.each do |msg|
                    %li= msg
            %div{class:"store", style:"display:none;"}
            = f.hidden_field :project_id, value:proj.id
            %tr
              %td= f.label :product_name
              %td= f.text_field :product_name
            %tr
              %td= f.label :bundle_identifier
              %td= f.text_field :bundle_identifier
            %tr
              %td= f.label :bundle_version
              %td= f.text_field :bundle_version
            %tr
              %td= f.label :relative_path
              %td
                = f.text_field :relative_path
                .relative-variant
            %tr
              %td= f.label :title
              %td= f.text_field :title
            %tr
              %td{colspan:"2"}= f.submit 'Save', class:"btn"
        
        
          
%div{class:"well well-small well-width"}  
  .btn-group
    = link_to 'Edit', edit_project_path(proj), class:"btn"
    = link_to "Back", :back, class:"btn"

    
.edit_form{style:"display:none;"}
  %form.edit_application{"accept-charset" => "UTF-8", "data-remote" => "true", :method => "post"}
    %table.table.table-bordered.table-app
      %tr
        %th Project
        %td#id.show-and-edit-app
          %select#application_project_name{:name => "application[project_id]"}
      %tr
        %th Product name
        %td#product_name.show-and-edit-app
          %input#application_product_name{:name => "application[product_name]", :size => "30", :type => "text"}
      %tr
        %th Bundle identifier
        %td#bundle_identifier.show-and-edit-app
          %input#application_bundle_identifier{:name => "application[bundle_identifier]", :size => "30", :type => "text"}
      %tr
        %th Bundle version
        %td#bundle_version.show-and-edit-app
          %input#application_bundle_version{:name => "application[bundle_version]", :size => "30", :type => "text"}
      %tr
        %th Relative path
        %td#relative_path.show-and-edit-app
          %input#application_relative_path.input-xlarge{:name => "application[relative_path]", :size => "30", :type => "text"}
          .relative-variant
          #handle_store_edit{:style => "display:none;"}
      %tr
        %th Title
        %td#title.show-and-edit-app
          %input#application_title{:name => "application[title]", :size => "30", :type => "text"}
      %tr
        %th Action
        %td
          %input.btn{:name => "commit", :type => "submit", :value => "Save"}