-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%table{class:"table table-bordered", id:"show-recoreds"}
  %tr
    %th Client:
    %td= @project.client_id
  %tr
    %th Manager:
    %td= @project.manager_id
  %tr
    %th Name:
    %td= @project.name
  %tr
    %td Svn:
    %td @project.svn
  %tr
    %td Handle:
    %td= @project.handle

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
