-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice
- for proj in @project 
  %table{class:"table table-bordered", id:"show-recoreds"}
    %tr
      %th Client:
      %td= check_path(proj.client_name, proj.client_id, path:"clients").html_safe
    %tr
      %th Manager:
      %td= check_path(proj.manager_name, proj.manager_id, path:"managers").html_safe
    %tr
      %th Name:
      %td= proj.name
    %tr
      %th Svn:
      %td proj.svn
    %tr
      %th Handle:
      %td= proj.handle

= link_to 'Edit', edit_project_path(proj)
\|
= link_to 'Back', projects_path
