= form_for @company, remote:true, method:"post", id:"form-new-company", validate: true do |f|
  = error_field(@company, 700)

  .field
    = f.label :name
    = f.text_field :name, id:"cname"
  .field
    = f.label :website
    = f.text_field :website, id:'cwebsite'
  .actions
    = f.submit 'Save', id:"new-com"
