%table{class:"table", style:"width:1000px; margin: 0 auto;"}
  = form_for @company do |f|
    = error_field(@company,970)
    %tr
      %th 
        = f.label :name
      %td  
        = f.text_field :name
    %tr
      %th
        = f.label :website
      %td
        = f.text_field :website
    %tr
      %td{colspan:"2"}
        = f.submit 'Save', class:"btn"
