= render 'admin/confirm_form'

= print_notice(notice, 750)
-unless @companies.empty?
  .well.well-small{align:"center", style:"width:780px; margin: 0 auto;"}
    %h4 Listing companies
    = link_to 'New Company', new_company_path, class:"btn"
  
  %table.table.table-striped.table-bordered{style:"width:800px; margin:0 auto;"}
    %tr.all-sort
      %th=sortable "id", "ID"
      %th=sortable "name", "Name"
      %th=sortable "website", "Website"
      %th=sortable "created_at", "Date create"
      %th=sortable "updated_at", "Last update"
      %th Actions
  
  
    - @companies.each do |company|
      %tr
        %td= company.id
        %td= link_to company.name, company_path(company)
        %td= check_f(company.website)
        %td= set_time company.created_at
        %td= set_time company.updated_at
        %td
          .btn-group
            =link_to "Show", company, class:"btn"
            %button.btn.dropdown-toggle{:"data-toggle"=>:"dropdown"}
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'Show', company
              %li= link_to 'Edit', edit_company_path(company)
              %li= link_to 'Destroy', '#', class:"btn-delete-company", id:"#{company.id}"
  
  %div{style:'display:table; margin:0 auto;'}
    %p= paginate @companies
- else
  %div{style:"margin: 0 auto; display:table;"}
    %h3= "Records not found"
    %p= link_to 'New Company', new_company_path, style:"margin-left:60px;", class:"btn"