-if notice
  %div{class:"alert alert-success"}
    %button{:class=>"close", :"data-dismiss"=>:"alert"}
      x
    =notice

%table{class:"table table-bordered", id:"show-recoreds", style:"width:1000px; margin: 0 auto;"}
  %tr
    %th ID
    %td= @company.id
  %tr
    %th Name:
    %td= @company.name
  %tr
    %th Website:
    %td= check_f @company.website
%div{class:"well well-small well-width"}  
  .btn-group
    = link_to 'Edit', edit_company_path(@company), class:"btn"
    = link_to 'Back', companies_path, class:"btn"
