!!!
%html
  %head
    %title iOSmanager
    /= stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = stylesheet_link_tag "bootstrap_and_overrides"
    -if request.fullpath =~ /clients/
      = stylesheet_link_tag "clients", :media => "all"
    -if request.fullpath =~ /projects/
      = stylesheet_link_tag "projects", :media => "all"


  %body
        
    -if request.fullpath =~ /admin/
      = stylesheet_link_tag 'scaffolds', media:'all'
      :css
        .select-th { background: rgba(153,153,153,0.3) !important; }
        .well-width{ width:980px; margin: auto; }
        #show-recoreds th{ width:30%;  }
        a[disabled="disabled"]{color:#ccc;}
        ul.limit li {float: left; list-style: none; font-size: 16x;}
        .icon-plus-sign{color:green;}
        .icon-plus-sign:hover{cursor:pointer;}
  
      = render 'admin/nav'

    = yield