!!!
%html
  %head
    %title iOSmanager
    /= stylesheet_link_tag "application", :media => "all"

    = csrf_meta_tags
    = javascript_include_tag(:application)
    = stylesheet_link_tag "bootstrap_and_overrides"
    = set_layouts


  %body
     
    -if request.fullpath =~ /admin/
      = stylesheet_link_tag 'scaffolds', media:'all'

      :css
        .select-th { background: rgba(153,153,153,0.3) !important; }
        .well-width{ width:980px; margin: auto; }
        #show-recoreds th{ width:30%;  }
        a[disabled="disabled"]{color:#ccc;}
        ul.limit li {float: left; list-style: none; font-size: 16x; padding-left:5px;}
        .icon-plus-sign{color:green;}
        .icon-plus-sign:hover{cursor:pointer;}
        .icon-edit{position:absolute !important; margin-left:75px;}
        .icon-edit:hover{cursor:pointer; color:#cccccc; }
        .icon-ok-sign{color:green;}
        table.table-app td{width:50%;}
        .icon-ok-sign:hover{cursor:pointer;}
        .append-projects{ width:130px;}
        .error_proj{border-width: 2px; color: red !important; border-color: rgba(204,51,51,0.5) !important;}
        a.prev-app:hover{cursor: pointer;}
        a.prev-client:hover{cursor: pointer;}         

        #hide_btn:hover{background: rgba(0,0,0,0.1); cursor:pointer;}
      = render 'admin/nav'

    = yield