!!!
%html
  %head
    %title iOSmanager
    /= stylesheet_link_tag "application", :media => "all"

    = csrf_meta_tags
    = javascript_include_tag(:application)
    = stylesheet_link_tag "bootstrap_and_overrides"
    = set_layouts


  %body
     
    -if request.fullpath =~ /admin/
      = stylesheet_link_tag 'scaffolds', media:'all'

      = stylesheet_link_tag 'admin', media:"all"

      = render 'admin/nav' if admin_signed_in?

    = yield