!!!
%html
  %head
    %title iOSmanager
    /= stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "bootstrap_and_overrides"
    -if request.fullpath =~ /clients/
      = stylesheet_link_tag "clients", :media => "all"
    -if request.fullpath =~ /projects/
      = stylesheet_link_tag "projects", :media => "all"








  %body

    = render 'admin/nav'

    = yield