!!!
%html
  %head
    %title iOSmanager
    /= stylesheet_link_tag "application", :media => "all"

    = csrf_meta_tags
    = javascript_include_tag(:application)
    = stylesheet_link_tag "bootstrap_and_overrides"
    = set_layouts


  %body
     
    -if request.fullpath =~ /admin/
      = stylesheet_link_tag 'scaffolds', media:'all'
      = stylesheet_link_tag 'admin', media:'all'
      = javascript_include_tag(:admin)

      :css
        .select-th { background: rgba(153,153,153,0.3) !important; }
        .well-width{ width:980px; margin: auto; }
        #show-recoreds th{ width:30%;  }
        a[disabled="disabled"]{color:#ccc;}
        ul.limit li {float: left; list-style: none; font-size: 16x; padding-left:5px;}
        .icon-plus-sign{color:green;}
        .icon-plus-sign:hover{cursor:pointer;}
        .icon-edit{position:absolute !important; margin-left:75px;}
        .icon-edit:hover{cursor:pointer; color:#cccccc; }
        .icon-ok-sign{color:green;}
        table.table-app td{width:50%;}
        .icon-ok-sign:hover{cursor:pointer;}
        .append-projects{ word-wrap: break-word; }
      = render 'admin/nav'

    = yield